{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Detalhes do Palestrante</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="{% static palestrante.imagem %}" alt="{{ palestrante.nome }}" class="img-fluid" style="height: 100%; width: 100%; object-fit: contain">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>{{ palestrante.nome }}</h2>
              <!-- <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div> -->
              <p>{{ palestrante.descricao }}</p>
 
              <!-- <p>Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.</p> 

              <p>Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.</p> -->
            </div>
          </div>
          
        </div>
      </div>

    </section>

  </main>

  {% endblock %}